<link rel="stylesheet" href="/css/User_Profile.css">
<h1>SignIn Form</h1>
<form action="user/create-session" method="POST">
    <input type="email" name="email" placeholder="Enter your email address">
    <input type="password" name="password" placeholder="enter your password">
    <input type="Submit" value="SignIn">
</form>